<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knitting Pattern Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <nav class="navbar">
      <h1>Knitting Pattern Generator</h1>
    </nav>
  </header>

  <main>
    <section class="form-container">
      <h2>Customize</h2>
      <form action="/generate" method="POST" class="pattern-form">
        <label for="patternType">Choose a Pattern Type:</label>
        <select name="patternType" id="patternType" required>
          <option value="sweater">Sweater</option>
          <option value="cardigan">Cardigan</option>
        </select>

        <label for="chestCircumference">Chest Circumference (in inches):</label>
        <input type="number" id="chestCircumference" name="chestCircumference" step="0.1" required>

        <label for="gaugeS">Gauge (Stitches per 4 inches):</label>
        <input type="number" id="gaugeS" name="gaugeS" step="0.1" required>

        <label for="gaugeR">Gauge (Rows per 4 inches):</label>
        <input type="number" id="gaugeR" name="gaugeR" step="0.1" required>

        <button type="submit" class="btn-primary">Generate</button>
      </form>
    </section>
       
  </main>

  <footer>
    <p>Wendy Xie 2024</p>
  </footer>
</body>
</html>
